# === NODE ===
# NODE_ENV=development
# PORT=8080

# === DATABASE ===
DATABASE_URL=postgres://username:password@host:5432/database
# DATABASE_SSL=false
# DATABASE_SYNCHRONIZE=true
# DATABASE_DROP_SCHEMA=true
# DATABASE_LOGGING=false

# === REDIS ===
REDIS_URL=redis://:password@host:6379/0
# REDIS_JWT_BLOCKLIST=JWT_BLOCKLIST

# === JWT ===
# JWT_SECRET=secret
# JWT_ALGORITHM=HS256
# JWT_EXPIRATION_TIME=604800 # One week

# === GRAPHQL ===
# GRAPHQL_PATH='/graphql'
# GRAPHQL_PLAYGROUND=true