<div class="uk-overflow-auto">
  <table class="uk-table uk-table-middle uk-table-divider uk-table-large uk-table-striped uk-table-hover">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Avatar</td>
        <td>
          <img class="uk-border-rounded" [src]="user?.avatar" width="48" height="48" [alt]="user?.username" />
        </td>
      </tr>
      <tr>
        <td>ID</td>
        <td>{{ user?.id ? user?.id : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{ user?.username ? user?.username : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Roles</td>
        <td>{{ user?.roles ? user?.roles : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ user?.name ? user?.name : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Surname</td>
        <td>{{ user?.surname ? user?.surname : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Full name</td>
        <td>{{ user?.fullName ? user?.fullName : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Date of birth</td>
        <td>{{ user?.dateOfBirth ? user?.dateOfBirth : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ user?.email ? user?.email : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ user?.phone ? user?.phone : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Created at</td>
        <td>{{ user?.createdAt ? user?.createdAt : 'Unknown' }}</td>
      </tr>
      <tr>
        <td>Updated at</td>
        <td>{{ user?.updatedAt ? user?.updatedAt : 'Unknown' }}</td>
      </tr>
    </tbody>
  </table>
</div>