<div class="uk-card uk-card-default uk-width-1-2@m">
  <div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <img class="uk-border-circle" width="48" height="48" [src]="user?.avatar" [alt]="user?.username">
      </div>
      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{ user?.username }}</h3>
        <p class="uk-text-meta uk-margin-remove-top">{{ user?.createdAt | date: 'MMMM d, y, h:mm:ss a' }}</p>
      </div>
    </div>
  </div>
  <div class="uk-card-footer">
    <span *ngFor="let role of user?.roles" class="uk-label uk-label-success uk-margin-small-left">
      {{ role }}
    </span>
  </div>
</div>