<div class="uk-section uk-flex uk-flex-middle" uk-height-match>
  <div class="uk-width-1-1">
    <div class="uk-container">
      <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
        <div class="uk-width-1-1@m">
          <div
            class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
            <h3 class="uk-card-title uk-text-center">Join the community!</h3>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" ngNativeValidate>

              <div class="uk-margin">
                <label class="uk-form-label">
                  Username <span class="uk-text-danger uk-text-bold">*</span>
                </label>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="user"></span>
                  <input formControlName="username" class="uk-input uk-form-large" type="text" placeholder="Username"
                    required autocomplete="off" autocapitalize="none" spellcheck="false" minlength="1" maxlength="64" />
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">
                  Password <span class="uk-text-danger uk-text-bold">*</span>
                </label>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="lock"></span>
                  <input formControlName="password" class="uk-input uk-form-large" type="password"
                    placeholder="Password" required autocomplete="off" autocapitalize="none" spellcheck="false"
                    minlength="8" maxlength="64" />
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Name</label>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="pencil"></span>
                  <input formControlName="name" class="uk-input uk-form-large" type="text" placeholder="Name"
                    autocomplete="off" autocapitalize="on" spellcheck="false" minlength="1" maxlength="64" />
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Surname</label>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="pencil"></span>
                  <input formControlName="surname" class="uk-input uk-form-large" type="text" placeholder="Surname"
                    autocomplete="off" autocapitalize="on" spellcheck="false" minlength="1" maxlength="64" />
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Gender</label>
                <div class="uk-inline uk-width-1-1">
                  <select formControlName="gender" class="uk-select uk-form-large">
                    <option *ngFor="let gender of userGenders" [ngValue]="gender[0]">
                      {{ gender[1] }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Date of birth</label>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="calendar"></span>
                  <input formControlName="dateOfBirth" class="uk-input uk-form-large" type="date"
                    placeholder="Date of birth" max="{{ today | date: 'yyyy-MM-dd' }}" />
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">E-mail <span class="uk-text-danger uk-text-bold">*</span></label>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="mail"></span>
                  <input formControlName="email" class="uk-input uk-form-large" type="email" placeholder="E-mail"
                    required max="128" />
                </div>
              </div>

              <div class="uk-margin">
                <label class="uk-form-label">Phone number <span class="uk-text-danger uk-text-bold">*</span></label>
                <div class="uk-inline uk-width-1-1">
                  <span class="uk-form-icon" uk-icon="receiver"></span>
                  <input formControlName="phone" class="uk-input uk-form-large" type="tel" placeholder="Phone number"
                    required max="128" />
                </div>
              </div>

              <div class="uk-text-small uk-text-meta">
                <span class="uk-text-danger uk-text-bold">*</span> required field
              </div>

              <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-secondary uk-button-large uk-width-1-1">
                  <span uk-icon="plus"></span>
                  Sign Up
                </button>
              </div>

              <div class="uk-text-small uk-text-center">
                Already registered? <a routerLink="/signin">Sign In</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>