<ng-template [ngIf]="!loading && !error">
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-middle uk-table-divider uk-table-large uk-table-striped uk-table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date & Time</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases">
          <td>{{ purchase.id }}</td>
          <td>{{ purchase.createdAt | date: 'MMMM d, y, h:mm:ss a' }}</td>
          <td>
            <a [routerLink]="['/products', purchase.product.id]">
              <img class="uk-border-rounded"
                [src]="purchase.product?.cover ? purchase.product?.cover : 'https://res.cloudinary.com/dxiqa0xwa/image/upload/v1609604389/graphmarket/product/photo/product.png'"
                width="64" height="64" [alt]="purchase.product.name" />
              &nbsp;
              {{ purchase.product.name}}
            </a>
          </td>
          <td>{{ purchase.quantity }}</td>
          <td>{{ purchase.amount }} $</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="uk-button uk-button-primary uk-button-large uk-margin uk-align-center" (click)="fetchMore()">
    <span uk-icon="plus"></span>
    LOAD MORE
  </button>
</ng-template>