<nav class="uk-navbar-container uk-margin uk-box-shadow-medium" style="z-index: 999;" uk-sticky uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" routerLink="/">
            <img class="logo normal" src="assets/logo.png" alt="logo" />
            <span class="uk-text-middle">Graph Market</span>
        </a>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a routerLink="/products" routerLinkActive="uk-active" class="uk-text-bold" >
                    <span uk-icon="thumbnails"></span>&nbsp;Products
                </a>
            </li>
        </ul>
    </div>
</nav>