<nav class="uk-navbar-container uk-margin uk-box-shadow-medium" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" routerLink="/">
            <img class="logo normal" src="assets/logo.png" alt="logo" />
            <span class="uk-text-middle">Graph Market</span>
        </a>
    </div>

    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <a routerLink="/products" class="uk-button uk-button-default">
                <span uk-icon="thumbnails"></span>
                Products
            </a>
        </div>

        <!-- Not authenticated -->
        <ng-template [ngIf]="!isAuth">
            <div class="uk-navbar-item">
                <div class="uk-button-group">
                    <a routerLink="/signin" class="uk-button uk-button-primary">
                        <span uk-icon="sign-in"></span>
                        Sign In
                    </a>
                    <a routerLink="/signup" class="uk-button uk-button-secondary">
                        <span uk-icon="plus"></span>
                        Sign Up
                    </a>
                </div>
            </div>
        </ng-template>

        <!-- Authenticated -->
        <ng-template [ngIf]="isAuth">
            <hr class="uk-divider-vertical">
            <div class="uk-navbar-item">
                <ul class="uk-navbar-nav">
                    <li>
                        <a>
                            <img class="uk-border-rounded" [src]="user?.avatar" width="38" height="38"
                                [alt]="user?.username">&nbsp;&nbsp;
                            <span class="uk-text-middle uk-text-bold">{{ user?.username }}</span>
                            &nbsp;
                            <span uk-icon="triangle-down"></span>
                        </a>
                        <div class="uk-navbar-dropdown" uk-dropdown="mode: click">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li>
                                    <a routerLink="/dashboard">
                                        <span uk-icon="settings"></span>
                                        &nbsp;
                                        Dashboard
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/dashboard/profile">
                                        <img class="uk-border-rounded" [src]="user?.avatar" width="24" height="24"
                                            [alt]="user?.username">&nbsp;
                                        <span class="uk-text-middle">Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/dashboard/purchases">
                                        <span uk-icon="cart"></span>
                                        &nbsp;
                                        Purchases
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/dashboard/reviews">
                                        <span uk-icon="commenting"></span>
                                        &nbsp;
                                        Reviews
                                    </a>
                                </li>
                                <li class="uk-nav-divider"></li>
                                <li>
                                    <button class="uk-button uk-button-danger" (click)="signOut()">
                                        <span uk-icon="sign-out"></span>
                                        Sign Out
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>
    </div>
</nav>